body {
    font-family: sans-serif;
  }

.smallWidth {
  background-color: skyblue;
  color: white;
}

.middleWidth {
  background-color: blueviolet;
  color: white;
}

.wideWidth {
  background-color: orange;
  color: white;
}